body {
    color: #f1e6de;
    text-align: left;
    margin-left: 7%;
    background-image:url("abstract-black.png"); 
}

#sec_head {
    color:#D83367;
    background-color: rgb(233, 190, 133);
}

#anchor {   
    color: rgb(53, 243, 43);
}

button {
    font-size: large;
    font-weight: 400;
    color: white;
    background-color: #D83367;
}

#screen {
    width: 50% ;
}


