body {
    background-color: #f1e6de;
    text-align: left;
    margin-left: 7%;
}

#sec_head {
    color:#D83367;
    background-color: rgb(233, 190, 133);
}

button {
    font-size: large;
    font-weight: 400;
    color: white;
    background-color: #D83367;
}

