body {
    background-color: #F4E1D2;
    text-align: center;
}

#sec_head {
    color:#D83367;
    background-color: antiquewhite;
}
}

button {
    font-size: large;
    font-weight: 400;
    color: white;
    background-color: #D83367;
}
